#about
{
    position: relative;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom:5px;
    width: 1190px;
    height: 100%;

    font-family: SM;
    background-color: #E8E8E8;
    overflow: hidden;
    display: none;
    
    box-shadow: 0px 0px 10px #909090 ;
}

#about_title
{
    background-color: #303030 ;
    color: WHITE;
    text-align: center;
    font-size: 2em;
    padding: 10px;
}

#about_content
{
	padding: 10px;
}

#snapshot
{
    width: 265px;
    height: 330px;
    margin: 10px;
    box-shadow: 0px 0px 10px GREY;
    background-image: url("../img/me.png");
    float: left;
}

#about_me
{
    margin: 10px;
    color: #282828 ;
}
