#contact
{
	position: relative;
	width: 300px;
	background-color: rgba(0, 0, 0, 0.6);
	margin: 0 auto;
	margin-top: 10px;
	display: none;
}

#contact_title
{
	background-color: Black;
	color: white;
	font-size: 2em;
	font-family: flipflop;

}

#contact_content
{
	border: 1px dashed;
}

label
{
	font-size: 1.5em;
	color: #3399FF;
	font-family: flipflop;
}

input, textarea, select, button
{
	width: 300px;
}

input, textarea
{
	background-color: rgba(255, 255, 255, 0.6);
	border: none;
	font-size: 1.5em;
}

textarea
{
	height: 140px;
}

input:focus, textarea:focus
{
	border: rgba();
}

textarea
{
	display: block;
	vertical-align: top;
}

input:focus, textarea:focus{
  border-radius: 5px;
  outline      : none;
}

button {
   border: none;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3399FF), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3399FF, #65a9d7);
   background: -moz-linear-gradient(top, #3399FF, #65a9d7);
   background: -ms-linear-gradient(top, #3399FF, #65a9d7);
   background: -o-linear-gradient(top, #3399FF, #65a9d7);
   padding: 8.5px 17px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   color: white;
   font-size: 1.6em;
   font-family: SM;
   text-decoration: none;
   vertical-align: middle;
   }
button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
button:active {

   background: #1b435e;
   }
   
.errorlist
{
	color: red;
	opacity: 0.65;
}

#success_info
{
	margin-top: 100px;
	color: #E8E8E8;
	text-align:center;
	font-family: descript;
	font-size: 4em;
}
