/*base css file*/
body
{
    background-color: BLACK;
    /*background-image: url("../img/high_tech-wallpaper-1680x1050.jpg");*/
    background-repeat:repeat;
	background-attachment:fixed;
    padding: 0;
    margin: 0;
}

#main
{
    background-color: BLACK;
    
    position: relative;
    width: 1200px;
    height: 100%;
    margin: 0 auto;

}

#header
{
    position: relative;
    background-image: url("../img/header_bak.jpg");
    background-color: Black;
    width: 1190px;
    margin: 0 auto;
    height: 120px;
    color: White;
    z-index: 1;
}

#blog_title
{
    position: relative;
    width: 445px;
    font-size: 3em;
    font-family: SM;
    margin: 0 auto;
    left: -100px;
    top: 20px;
}
a.blog_title_link:link{color:#FFFFFF ;text-decoration:none;}
a.blog_title_link:visited{color:#FFFFFF ;text-decoration:none;}


#blog_description
{
    position: relative;
    width: 400px;
    font-size: 2.2em;
    font-family: descript;
    color: #3399FF;
    opacity: 0.5;
    margin: 0 auto;
    top: 20px;
    left: 150px;
}
/*
.header_hyper_structure
{
    height: 170px;
    width: 100%;
    border: 1px solid;
}
*/
#left_panel
{
	/*background-color: silver;*/
	position: relative;
	width: 1190px;
	margin: 0 auto;
	margin-top: 9px;
	overflow: hidden;
}

#navi
{
	overflow: hidden;
}

.left_panel_widget
{
    width: 198.34px;
    float: left;
}

.left_panel_widget_title
{
	background-color: #006699;
	color: White;
	font-size: 1.5em;
	font-family: descript;
	text-align: center;
	opacity: 0.6;
}

a.left_panel_link:link{color:#FFFFFF ;text-decoration:none;}
a.left_panel_link:visited{color:#FFFFFF ;text-decoration:none;}

.left_panel_widget_content
{
    display: none;
}

.menu_item
{
}

.menu_item_link
{
}

a.menu_item_link:link{color:#000000 ;text-decoration:none;}
a.menu_item_link:visited{color:#000000 ;text-decoration:none;}

#content
{
    position: relative;
    /*left: 300px;*/
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 10px;
}

#copy_right
{
    position: relative;
    width: 1190px;
    height: 200px;
    margin:0 auto;
    background-color: BLACK;
    color: GhostWhite;
    background-image: url("../img/buttom_bak.png");
}

#designer
{
	display: block;
	position: absolute;
	bottom: 0px;
	
}
