.post_article
{
    position: relative;
    left: -5px;
    background-color: #E8E8E8 ;
    width: 1190px;
    margin: 0 auto;
    margin-top: 10px;
    box-shadow: 0px 0px 10px #909090 ;
}

.post_article_header
{
    background-color: #303030 ;
    color: WHITE;
    padding: 1.5%;
}

.post_article_title
{
    font-size: 2.5em;
    font-family: descript;
}

.post_article_time
{
    font-family: descript;
    font-family: SM;
    opacity: 0.8;
    margin: 5px;
}

.post_article_content
{
    color: #282828 ;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 2%;
    line-height: 30px;
}

.post_article_tag
{
    padding-top: 10px;
}
