.article_tag
{
    background-color: #3399FF;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin: 5px;
    border-radius: 5px;
	font-family: flipflop;
}
a.article_tag:link {color:WHITE ;text-decoration:none;}
a.article_tag:visited {color:WHITE ;text-decoration:none;}
a.article_tag:hover {color:WHOTE ; text-decoration:none; background-color: #3366CC;}

