#tag_Post_List
{
	width: 1190px;
	margin: 0 auto;
	background-color: #E8E8E8 ;
	margin-top: 10px;
	box-shadow: 0px 0px 10px #909090 ;
}

#tag_Post_List_title
{
	font-size: 2em;
	color: GhostWhite;
	font-family: flipflop;
	background-color:  #303030 ;
	text-align: center;
	padding: 5px;
}

#tag_Post_List_Content
{
	position: relative;
	bottom: 10px;
	font-size: 1.5em;
	line-height: 35px;
	text-align: center;
}

.tagPostItem
{
}

a.tagPostItem:link{color:#3399FF;text-decoration:none;}
a.tagPostItem:visited{color:#3399FF;text-decoration:none;}
