{% extends 'base3.html' %}
<!-- TITLE -->
{% block title %}PETERさんの小宇宙-About{% endblock %}

<!-- CONTENT -->
{% block content %}
<div id="about">
<div id="about_header">
<div id="about_title">ABOUT ME</div>
</div>
<div id="about_content">
<div id="snapshot"></div>
<div id="about_me">
<p>I am ...</p>
<p>loving using Photoshop to make funny gallery!</p>
<p>a newbie programmer.</p>
<p>a volleyball player, usaully play wing spiker.</p>
</br>
<p>I like..</p>
<p>Science Fiction Movie, Comic, Novels.</p>
<p>Hip Hop Instrumental Music.</p>
<p>Painting.</p>
</div>
</div>
</div>
{% endblock %}

